* {
    box-sizing: border-box;
}

/*헤더영역*/

header{
    width: 960px;
    margin: 0 auto;
    padding: 3px 5px; 
    color: rgb(255, 255, 255);
    background-color: rgb(13, 42, 77);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*메뉴영역*/

nav{
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: blanchedalmond;
}
ol {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

ol li{
    margin-right: 10px;
}
a {
    text-decoration: none;
}

/*메인영역*/

main{
    width: 960px;
    margin: 0 auto;
    border: 1px dotted black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

section.left, section.right {
    width: 480px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
}

section.right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: end;
}

/*푸터영역*/

footer{
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(207, 245, 220);
}