*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    /* 폰트사이즈, 구글폰트, 글자간격, 배경색 */
}
a{
    text-decoration: none;
    color: white;
}

/* 메뉴css */
ul{
    border: 1px dotted black;
    list-style: none;
    background-color: rgb(0, 57, 104);
    width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}
ul>li>a {
    display: inline-block;
    padding: 14px 16px;
}
ul>li:hover>a{
    background-color: rgb(37, 19, 139);
} 
.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #4f8be6;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}  
div.dropdown-content a{
    display: block;
    padding: 16px 16px;
}
div.dropdown-content a:hover {
    background-color: #0077ff;
}
.dropdown:hover .dropdown-content{
    display: block;
}
div.head {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: #6286b1;
}