@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    /* border: 1px dotted black; */
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #dadfd6;
    width: 100%;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-left a {
    font-size: 40px;
    color: #4d6853; 
    text-decoration: none; 
    
}
.header-logo {
    padding: 3px;
    border: 1px solid ;
    border-radius: 50%;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px 15px;
    background-color: #dadfd6;
    margin-left: auto;
}
.header-right a {
    font-size: 25px;
    color: #a7b0a5; 
    text-decoration: none;
}
.header-Sign-up {
    border: 1px solid #a3b0a5;
    border-radius: 5px;
    padding: 5px;
}
.header-Sign-up a{
    color: #a3b0a5; 
    text-decoration: none;
}
/* 회전목마 */
.slideshow {
    height: 465px;
    min-width: 960px;
    width: 100%;
    position: relative;
    margin-top: 0;
}
.slideshow_slides {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slideshow_slides a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.slideshow_nav a {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 62px;
    transform: translateY(-50%);
    opacity: 0.5;
}
.slideshow_nav a.prev {
    margin-left: -462px;
}
.slideshow_nav a.next {
    margin-left: 400px;
}
.slideshow_indicator {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}
.slideshow_indicator a{
    display: inline-block;
    color: #a3b0a5;
    padding: 7px;
    font-size: 23px;
    opacity: 0.7;
}
.slideshow_indicator a.active{
    color: #4d6853;
}
/* 사이드바 */
.sidebar {
    width: 320px;
    background-color: white;
    padding: 30px;
    min-height: 600px;
}

.sidebar-info {
    font-size: 18px;
    background-color: #eeeeee;
    padding: 12px;
}
.sidebar h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
    border-bottom: 2px solid #3d9c3d;
    padding-bottom: 8%;
    
}
.sidebar h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #3d9c3d;
}
.sidebar ul {
    list-style: inside;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: black;
    text-decoration: none;
}
/* 메인 */
.main-content {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 30px auto;
    gap: 20px;
    align-items: stretch;
}
.content {
    height: 80px;
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}
.content h2 {
    font-size: 22px;
    color: #3d9c3d;
}
.center-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
}
.center-right a {
    color: black; 
    text-decoration: none;
    
}
/* 게시판 */
.board {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.left-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#page, #category, .search_input, .search_button, .view-button {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.view-button, .search_button {
    background-color: #717171;
    color: #cfd6ce;
    border: none;
    cursor: pointer;
}
.view-button:hover, .search_button:hover {
    background-color: #5c5b5b;
}
.search_input {
    width: 200px;
}
.board-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
}
.left-footer {
    display: flex;
    gap: 5px;
    margin: 0 auto;
}
.page-button , .arrow{
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
}
.page-button.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}
.page-button:hover, .arrow:hover {
    background-color: #717171;
}
.arrow[disabled] {
    cursor: not-allowed;
    background-color: #f0f0f0;
}
.write-button{
    padding: 6px 8px;
    font-size: 14px;
    color: #cfd6ce;
    background-color: #717171;
    border-radius: 4px;
    border: none;
}


